:host ::ng-deep {
    .expense_main {
        width: 60%;
        margin: auto;
        border: 0.0625rem solid #1b2f54;
    }

    .expense_header {
        background: #1b2f54;
        color: #fff;
        text-align: center;

        .header_text {
            position: relative;

            .expense_header_icon {
                position: absolute;
                right: -30px;
                top: -5px;
                width: 20px;

            }
        }
    }

    .expense_type_container {
        display: block;
        height: 50px;
        text-align: right;
    }


}
 

.expense_card {
    width: 60%;
    margin: 2rem auto;
    position: relative;

    label {
        font-weight: bold;
        font-size: 14px;
        font-weight: bold;
        display: block;
        margin:5px 0px;
    }

    span.value{
        font-size: 14px;
        margin: 15px 0px;
        color: #000;
        font-weight: 400;
    }

    span.price {
        color: #fff;
        position: absolute;
        right: 10px;
        top: 15px;
    }
}
.tick_icon{
    position: absolute;
    left:2px;
    top:2px;
    width:50px;
    
}